{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "QUALYS_POD": "US2",
    "QUALYS_ACCESS_TOKEN": "your-qualys-access-token",
    "SCAN_TIMEOUT": "1800",
    "STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=youraccountname;AccountKey=youraccountkey;EndpointSuffix=core.windows.net",
    "NOTIFICATION_EMAIL": "security@example.com",
    "NOTIFY_SEVERITY_THRESHOLD": "HIGH"
  }
}
